.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### gradle multi module ###
/feedget-common/out/
/feedget-common/build/
/feedget-api/out/
/feedget-api/build/

### QueryDSL ###
/feedget-common/src/main/generated/

### local storage ###
/storage/
